.skills{
	padding: 20px 0;
	text-align:center;
}


.skills button{
	margin: 20px;
	padding: 20px;
	font-size: 20px;
}

.skills button::first{
	margin-left:0
}


.register{
	margin-top:30px;
	padding: 20px 0;
}
